/*Цвета компоненты страницы*/
$mainColor: #E250A4;
$backGroundColor: #FFDEF1;
$accentColor: #A6457C;
$secondaryColor: #FFFFFF;


/*Цвета для шрифтов*/
$accentFontColor: #A6457C;
$secondaryFontColor: #FFFFFF;
$mainFontColor: #000000;
$infoFontColor: #C1C1C1
